html {
  max-width: 90ch;
  margin: auto;
}

/* Colores accesibles */

body {
  background-color: #000000;
  color: #00FFFB;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 50px;
}

/* Menú de navegación fijo en la parte superior */
nav {
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  position: relative;
}

nav ul li a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #575757;
}

/* Estilo para el menú desplegable */
nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 0;
  margin: 0;
}

nav ul ul li a {
  padding: 10px 20px;
}

nav ul li:hover > ul {
  display: block;
}

img.email {
  vertical-align: middle;
}

@media (max-width: 90ch) {
  html {
    margin: auto 2px;
  }
}